/* Google font 'Nanum Gothic'  */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/* Google font 'Raleway' */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

:root{
    /* Variables */
    --main-fontstack: 'Nanum Gothic', san-serif;
    --sec-fontstack:'Raleway', san-serif;

    --main-bg: rgb(182, 172, 202);
    --card-bg: #fff;
    --card-hover: rgb(148, 148, 148);

    --btn-bg: rgba(8, 8, 8, 0.767);
    --btn-font:rgb(143, 115, 180);
    
}
/* Root Styles */
 * h1,h2,h3,h4,p,a{
    font-family: var(--main-fontstack);
 } 
body{
    background-color: var(--main-bg);
}
/* Layout */
#page-wrapper{
    height:100%;
    width:100%;
    margin: 0px;

}
#app-wrapper{
    display:  flex;
    flex-direction: column;
    justify-content: space-around;

    padding:20px;
    margin: 0 auto;
    
}
#content-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 400px)); 
    justify-items: center;    
    grid-gap:2em;
    
    margin:0 4em 0 4em;
    height:100%;
    
}
/* header layout */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin:0 2em 0 2em;
}
#filter{
    width: 250px;
    padding:5px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    border:1px solid grey;
}
#filter::placeholder{
    text-align: right;
    font-family: var(--sec-fontstack);
}
/* Card Styles */
.card{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 100%;
    border-radius: 10px;
    border:1px solid grey;
    background-color: var(--card-bg);
}
.img-container{
    display: grid;
    place-items: center;
    padding: 5px;
}
.profile-img{
    height: 5em;
    margin:10px;
    width: 5em;
    border-radius: 50%;
    border:2px solid grey;
}
.data-container{
    text-align: left;
    padding: 5px;
}
.data-container p{
    font-family: var(--sec-fontstack);
    font-size: 12px;
}
.name{
    margin:0;
    font-size: 20px;
    font-weight: bold;
}
/* modal Styles */

.modal{
    display: none;
    place-items: center;

    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
#close{
    position: absolute;
    top:15px;
    left:15px;
    font-size: 40px;
    cursor: pointer;
    color: rgb(200, 55, 55);
}

#modal-content{
    display: grid;
    place-items: center;
    text-align: center;

    padding:10px;
    max-width: 500px;
    background-color: var(--card-bg);
    border-radius: 10px;
}
.modal-img{
    border-radius: 50%;
    
    margin:40px;
    
    height:150px;
    width: 150px;
}
#modal-nav{
    display: flex;
    flex-direction: row;
    position: absolute;
    top:10px;
    
}
.modal-btn{
    text-align: center;
    height:50px;
    width: 50px;
    font-size: 45px;
    color: var(--btn-font);
    background-color: rgba(0, 0, 0, 0.794);
    cursor: pointer;
}

#error{
    display: block;
}


/* Transitions */
#card:hover{
    background-color: var(--card-hover);
}

#close:hover{
    color: rgb(119, 33, 33);
    font-size: 50px;
}

.modal-btn:hover{
    background-color: rgba(87, 87, 87, 0.733);
    color: white;
}